<!DOCTYPE html>
<html>
  <head>
    <title>CodeLab</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/all.min.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  </head>
  <body>
    <div class="flex min-h-screen flex-col items-center justify-center bg-slate-950 p-4">
      <div class="card w-full max-w-md bg-slate-900 text-white">
        <form action="/forgot-password" method="post" class="card-body">
          <div class="flex items-center justify-center gap-2">
            <i class="fa-solid fa-code text-emerald-500" style="font-size: 20px;"></i>
            <span class="text-2xl font-bold text-emerald-500">
              CodeLab
            </span>
          </div>
          <span class="text-center text-slate-400">
            Digite seu e-mail para redefinir sua senha
          </span>

          <% if (error) { %>
            <div role="alert" class="alert alert-error mt-2">
              <i class="fa-solid fa-circle-xmark"></i>
              <span><%= error %></span>
            </div>
          <% } %>

          <% if (success) { %>
            <div role="alert" class="alert alert-success mt-2">
              <i class="fa-solid fa-circle-check"></i>
              <span><%= error %></span>
            </div>
          <% } %>

          <div>
            <fieldset class="fieldset mt-2">
                <legend class="text-sm font-medium text-slate-200">
                  Email
                </legend>
                <input type="email" name="email" class="input border-slate-700 bg-slate-800 text-white placeholder:text-slate-500 w-full" required/>
            </fieldset>
            <span class="text-xs text-slate-400">
                Enviaremos um link para redefinir sua senha. O link expirará após 24 horas.
            </span>
          </div>
          <button type="submit" class="btn bg-emerald-600 hover:bg-emerald-700 mt-2">
            Enviar link de redefinição
          </button>
          <div class="text-center text-sm text-slate-400 mt-1">
            <i class="fa-solid fa-arrow-left text-emerald-500"></i>
            <a href="/" class="text-emerald-500 hover:underline">
                Voltar para tela de login
            </a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>